<div pPanel class="main ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-4 panel">
    <p-panel>
      <p-header>
        ГЕНЕРАЦИЯ РАСПИСАНИЯ
      </p-header>
      <p-button label="Расписание со всеми пожеланиями" styleClass="ui-button-info home_button"></p-button>
      <p-button label="Расписание на петидневку" styleClass="ui-button-info home_button"></p-button>
      <p-button label="Расписание без учета пожеланий студентов" styleClass="ui-button-info home_button"></p-button>
      <p-button label="Расписание без учета пожеланий к аудиториям" styleClass="ui-button-info home_button"></p-button>
      <p-button onclick="goToNewTimetable()" label="Сгенерировать новое" styleClass="ui-button-success home_button"
                icon="fa fa-plus" iconPos="left"></p-button>
    </p-panel>
  </div>
  <div class="ui-g-4"></div>
</div>
